@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#app {
  height: 100%;
}

body {
  background-color: #090a13;
  color: #f4f5ff;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

#app {
  display: flex;
  flex-direction: column;
}
